* {
    box-sizing: border-box;
}
html {
    font-family: 'Ubuntu', sans-serif;
}
.left-nav {
    float: left;
}
.right-nav {
    float: right;
}
img {
    width: 100% !important;
    padding: 20px 20px;
}
li {
    display: inline-block;
    padding: 10px 10px;
    text-transform: uppercase;
}
.nav-text {
    color: #666;
    list-style: none;
    text-decoration: none;
    padding: 0 20px;
}



@media only screen and (min-width: 992px) {
    header {
        height: 70px;
        width: 100%;
        padding: 0;
    }
    
    li {
        display: inline-block;
        padding: 30px 10px;
        text-transform: uppercase;
        text-align: center;
    }
    .right-nav,
    .left-nav {
        display: block;
    }
    .nav-text {
        color: #666;
        list-style: none;
        text-decoration: none;
        padding: 0 20px;
    }
    .nav-text:hover {
        cursor: pointer;
        color: rgba(112, 108, 108, 0.7);
    }
    #banner {
        text-align: center;
        height: 150px;
        position: absolute;
        top: 150px;
        left: 250px;
        color: red;
    }
    #slider {
        height: 100px;
        margin: 10px;
        text-align: center;
    }
    #container {
        margin: 20px;
    }
    div#container {
        margin: 50px;
    }
    h3 {
        text-align: center;
    }
    .text {
        background-color: rgb(170, 164, 164);
    }
    .icon-- {
        font-size: 2rem;
    }
    footer {
        height:100px;
        text-align: center;
        padding-top: 50px;
        color: rgb(179, 50, 50);
        background-color: rgb(158, 151, 151);
    }
}